@extends('layout.main')
@section('title', 'Halaman Penulis')
@section('container')
<div class="content">
    <div class="row">
        <div class="col-12 justify-content-end text-right">
            <a href="{{url('/penulis/add')}}">
                <button class="btn btn-outline-primary">Tambah Penulis</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Daftar Nama Penulis</h4>
                </div>
                <div class="card-body">
                    <div class="row" id="movie-list">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        No
                                    </th>
                                    <th>
                                        Nama Penulis
                                    </th>
                                    <th>
                                        Aksi
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@endsection
@section('script')
<script>
    $('#movie-list').html('')
    $.ajax({
        url: 'http://localhost:8000/api/buku',
        type: 'get',
        dataType: 'json',
        success: function (result) {

            $.each(result, function (i, data) {
                $('#movie-list').append(`
                    
                        <td>
                            1
                        </td>
                        <td>
                            ` + data.judul + `
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-12 text-left align-item-center mx-auto justify-between">
                                    <a href="">
                                        <button class="btn btn-outline-primary">Edit</button>
                                    </a>
                                    <form action="" method="post">
                                        @csrf
                                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    `)
            })
        }
    });

</script>

@endsection
